@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: monoton;
    src: url(assets/fonts/monoton/Monoton-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: white;
}

.logo-img {
    max-height: 80px;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.624), rgba(70, 53, 21, 0.823)), url('assets/images/background.jpeg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}
.navbar {
    border-bottom-style: outset;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px grey;
    z-index: 5;
}

.navbar-brand {
    font-size: 4rem;
    font-family: 'monoton', sans-serif;
    ;
}

#navbarNav ul {
    float: right;
    font-size: 1.6rem;
}

.navbar li {
    padding: 0.8rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    animation: forwards;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation: moveInLeft 2s;
}
.heading-primary--sub {
    display: block;
    letter-spacing: 0.2rem;
    animation: moveInRight 2s;
}
.btn {
    padding: 2rem 4rem;
    border-radius: 6rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}
.btn--white {
    background-color: white;
    color:  rgb(109, 109, 109);
}
.btn--animated{
    animation: moveInUp 2s
}
.btn:hover {
    transform: translateY(-.3rem);
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn:active {
    transform: translateY(-.1rem);
    transition: all .2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}.about{
    position: relative;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    object-fit: cover;

}
.about__content{
    text-align: center;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgba(225, 225, 225, 0.556);
    margin-top: -10vh;
    height: 100vh;
    z-index: 1;
}
.about__content .about__content__heading{
    margin-top: 15rem;
    color: #777;
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.624), rgba(70, 53, 21, 0.823));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 8rem;
}
.about__content .about__content__text{
    font-size: 2rem;
    color: rgb(109, 109, 109);
    padding: 0 16rem;
}

.gallery {
    color: #777;
    height: 100vh;
    text-align: center;
    margin-top: 12rem;
}

.gallery h2 {
    font-size: 3.5rem;
}


.img-row{
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    
}

.img-row__food img {
    padding: 2rem;
    max-width: 35rem;
    float: left;
}
.img-row::after{
    content: "";
    display: table;
    clear: both;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(2rem);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(2rem);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(-20px);
    }
}