@import "abstracts/_functions.scss";
@import "abstracts/_mixins.scss";
@import "abstracts/_variables.scss";


@import "base/_base.scss";
@import "base/_animations.scss";
@import "base/_typography.scss";
@import "base/_utilities.scss";

@import "pages/home.scss";

@import "components/_buttons.scss";

@import "layout/_header.scss";
h2 {
    font-size: 3rem;
    font-family: 'jokerman';
    color: $page-header-colors;
}


.hidden {
    display: none;
}

