/* ================================HEADER ======================================= */
.header {
    height: 100vh;
    background-image: linear-gradient(to left top, $header-color-gradient);
    background-size: cover;
    background-position: top;
    position: relative;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        max-height: 100vh;

    }
}

.heading {
    &-primary {
        color: $heading-color-yellow;
        animation: forwards;
        margin-bottom: 6rem;

    }

    &-primary--main {
        display: block;
        font-size: 6rem;
        text-transform: uppercase;
        font-family: 'jokerman';
        font-weight: 900;
        letter-spacing: 0.8rem;
        animation: moveInLeft 2s;
    }

    &-primary--sub {
        display: block;
        font-family: 'sans-serif';
        font-weight: 700;
        letter-spacing: 0.2rem;
        animation: moveInRight 2s;
    }
    &--underline {
        margin: auto;
        width: 8rem;
        border-bottom: .2rem solid rgb(64, 63, 63);
        margin-bottom: 2rem;
    }
}

.index {
    z-index: -1;
}

/* ========================ABOUT CSS============== */
.about {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient($color-primary, $color-primary);
    background-color: $color-primary2;

    &__content {
        position: absolute;
        top: 15%;
        text-align: center;
    }

    &__content__heading {
        margin-top: 10rem;
        font-size: 3.5rem;
        font-weight: 700;
        display: inline-block;
    }

    &__content__text {
        font-size: 2rem;
        padding: 0 16rem;
    }
}

/* =======/====================MENU CSS ==================================== */
.menu {
    margin-top: 10rem;
    height: 100vh;
    text-align: center;
    margin-bottom: 15rem;
    /* position: relative; */
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &h2 {
        display: inline-block;
        font-size: 3.5rem;
    }
    &_row {
        margin-bottom: 2rem;
    }
}
/* ================Card======================== */
.card {
    height: 30rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(64, 63, 63, 0.612);
    width: 23rem;
    &-img{
        height: 18rem;
    }
    &-body h5{
        font-size: 1.5rem;
    }
    &-body p {
        font-size: 1.3rem;
    }
    &:hover {
        transform: scale(1);
        transition: ease-in 200ms;
        outline: 0.2rem solid rgb(64, 63, 63);
        box-shadow: 0.2rem 0.2rem 2rem 1rem rgb(64, 63, 63);
    }
    
}
.card-body,
.list-group-item {
    text-align: start;
}


/* ==============================CONTACT===================================== */
.contact {
    height: 60vh;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgb(164, 141, 14);

    &__row {
        margin-top: 3%;
    }
}

.col-1-of-4 {
    /* width: calc((100% - 3 * 1rem)/4); */
    width: 28rem;
    & h5{
            font-size: 2rem;
            font-weight: 500;
            color: rgb(56, 56, 56);
    }
    & li {
        list-style: none;
        margin-bottom: 1.7rem;
        margin-left: -2rem;

        & a {
            text-decoration: none;
            color: rgba(64, 63, 63, 0.857);
            font-size: 1.4rem;
            font-weight: 100;
            
            &:hover {
                color: rgb(28, 27, 27);
            }
        }
    }
}

.fa {
    padding: 2rem;
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
}

.contact__social {
    margin-top: 2rem;
}

.social li {
    float: left;
    padding-left: 5rem;
}

.social li::after {
    content: "";
    display: table;
    clear: both;
}

.social li:first-child {
    padding-left: 0px;
}

.fade--effect {
    animation: fade 1.5s;
}

.cart{
    &-btn {
        position: fixed;
        bottom: 6.5rem;
        right: 6.5rem;
        z-index: 5;
        border: 1px solid gray;
        background-color: gray;
        padding: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 1rem 1rem .1rem rgba(0, 0, 0, 0.293);
    }
    &-index {
        text-decoration: none;
    }
    &-btn:hover {
        box-shadow: 0 1rem 1rem .1rem rgba(0, 0, 0, 0.718);
    }
    &-icon {
        height: 6rem;
        width: 6rem;
    }
    &-title {
        font-size: 2rem;
        text-align: center;
    }
}

.close-modal {
    position: absolute;
    font-size: 5rem;
    border: none;
    background: none;
    top: -1.5rem;
    right: 1rem;
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.close-modal:hover {
    color: black;
}
.gen-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgb(220, 219, 219);
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    max-height: 50%;
    overflow-y: scroll;
}
.order{
    &-card {
        display: grid;
        grid-template-columns: 0.6fr 1fr 0.5fr;
        padding: 1rem 2rem;
        gap: .5rem;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }
    &-img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border: 1.5rem;
    }
    &-detail i {
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
    }
    &-detail p {
        font-size: 1.5rem;
    }
}
.checkout {
    position: static;
    float: right;

}
.delivery-card{
    display: grid;
    grid-template-columns: auto;
    
    & input{
        height: 3rem;
        border-style: groove;
        border-radius: .5rem;
        border-color: gray;
    }
    & #address{
        height: 5rem;
    }
}
.payment{
    position: fixed;

    width: 12rem;
    bottom: -5rem;
    right: 2rem;


}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(.3rem);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    
    }
}
