$header-color-gradient: rgba(251, 144, 5, 0.624),
rgba(43, 35, 113, 0.823);
$color-primary: rgba(225, 225, 225, 0.556);
$color-primary2: rgb(164, 141, 14);
$nav-color: rgb(251, 144, 5),
rgb(102, 102, 102);
$nav-sub: rgba(251, 144, 5, 0.652),
rgba(165, 165, 165, 0.841);
$page-header-colors: rgb(64, 63, 63);
$heading-color-yellow: rgb(255, 230, 0);
