@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: monoton;
    src: url(../fonts/monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: jokerman;
    src: url(../fonts/Jokerman-Font/Jokerman\ Font.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* 1rem=10px 10px/16px*100 =62.5% */
}

body {
    font-family: 'sans-serif', 'lato';
    font-weight: 400;
    line-height: 1.7;
}

h2 {
    font-size: 3rem;
    font-family: 'jokerman';
    color: rgb(64, 63, 63);
}

.navbar-brand {
    font-size: 2.8rem;
    font-family: 'monoton', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right bottom, rgb(251, 144, 5), rgb(165, 165, 165));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.brand {
    text-align: center;
    margin: 1rem;
}

.navbrand-sub {
    margin-top: -1.5rem;
    font-family: 'monoton';
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(to right bottom, rgba(251, 144, 5, 0.652), rgba(165, 165, 165, 0.841));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#navbarNav ul {
    float: right;
    font-size: 1.6rem;
}

.navbar li {
    padding: 0.8rem;
    background: linear-gradient(to right bottom, rgb(251, 144, 5), rgb(102, 102, 102));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.navbar li:hover, .navbar li:active {
    background: linear-gradient(to right bottom, rgb(88, 50, 0), rgb(53, 53, 53));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* ==========================ROW GRID MANAGEMENT ======================================== */
.row {
    max-width: 114rem;
    margin: auto;
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* ================================HEADER ======================================= */
.header {
    min-height: 100vh;
    background-image: linear-gradient(to left top, rgba(251, 144, 5, 0.624), rgba(43, 35, 113, 0.823));
    background-size: cover;
    background-position: top;
    position: relative;
}

.index {
    z-index: -1;
}

header::after {
    animation: fade 2s;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    max-height: 100vh;

}

.heading-primary {
    color: rgb(255, 230, 0);
    animation: forwards;
    margin-bottom: 6rem;

}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'jokerman';
    font-weight: 900;
    letter-spacing: 0.8rem;
    animation: moveInLeft 2s;
}

.heading-primary--sub {
    display: block;
    font-family: 'sans-serif';
    font-weight: 700;
    letter-spacing: 0.2rem;
    animation: moveInRight 2s;
}

.button {
    padding: 2rem 4rem;
    border-radius: 6rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

.btn--color {
    background-color: rgb(232, 232, 232);
    color: rgb(58, 41, 8)
}

.btn--animated {
    animation: moveInUp 2s
}

.button:hover {
    transform: translateY(-.3rem);
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.628);
    color: black;
}

.button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}

/* ===============Carousel==================== */
.carousel-item img {
    height: 100vh;
}

/* ========================ABOUT CSS============== */
.about {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgb(164, 141, 14);
}

.about__content {
    position: absolute;
    top: 15%;
    text-align: center;  
}

.about__content .about__content__heading {
    margin-top: 10rem;
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
}

.about__content .about__content__text {
    font-size: 2rem;
    padding: 0 16rem;
}

/* =======/====================MENU CSS ==================================== */
.menu {
    margin-top: 10rem;
    height: 100vh;
    text-align: center;
    margin-bottom: 15rem;
    /* position: relative; */
}

.menu__container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.menu h2 {
    display: inline-block;
    font-size: 3.5rem;
}

.menu_row {
    margin-bottom: 2rem;
}

/* ================Card======================== */
.card {
    height: 30rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(64, 63, 63, 0.612);
    width: 23rem;
}

.card img {
    height: 18rem;
}

.card-body, .list-group-item {
    text-align: start;
}

.card-body h5 {
    font-size: 1.5rem;
}

.card-body p {
    font-size: 1.3rem;
}

.card:hover {
    transform: scale(1);
    transition: ease-in 200ms;
    outline: 0.2rem solid rgb(64, 63, 63);
    ;
    box-shadow: 0.2rem 0.2rem 2rem 1rem rgb(64, 63, 63);
}

.btn--color2 {
    background-color: #bb9b3d;
    border-color: #312910ec;
}

.btn--color2:hover, .btn--color2:active {
    background-color: #4f4014;
    border-color: #161207ec;
}

.heading--underline {
    margin: auto;
    width: 8rem;
    border-bottom: .2rem solid rgb(64, 63, 63);
    margin-bottom: 2rem;
}

/* ==============================CONTACT===================================== */
.contact {
    height: 60vh;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgb(164, 141, 14);
    position: relative;
}

.contact__row {
    margin-top: 3%;
}

.row .col-1-of-4 {
    /* width: calc((100% - 3 * 1rem)/4); */
    width: 28rem;
}

.row .col-1-of-4 h5 {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(56, 56, 56);
}

.col-1-of-4 li {
    list-style: none;
    margin-bottom: 1.7rem;
    margin-left: -2rem;

}

.col-1-of-4 li a {
    text-decoration: none;
    color: rgba(64, 63, 63, 0.857);
    font-size: 1.4rem;
    font-weight: 100;
}

.col-1-of-4 li a:hover {
    color: rgb(28, 27, 27);
}

.fa {
    padding: 2rem;
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
}

.contact__social {
    margin-top: 2rem;
}

.social li {
    float: left;
    padding-left: 5rem;
}

.social li::after {
    content: "";
    display: table;
    clear: both;
}

.social li:first-child {
    padding-left: 0px;
}

.fade--effect {
    animation: fade 1.5s;
}
.cart-btn{
    position: fixed;
    bottom: 6.5rem;
    right: 6.5rem;
    z-index: 5;
    border: 1px solid gray;
    background-color: gray;
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 1rem .1rem rgba(0, 0, 0, 0.293);
}
.cart-btn:hover{
    box-shadow: 0 1rem 1rem .1rem rgba(0, 0, 0, 0.718);
}
.cart-icon{
    height: 6rem;
    width: 6rem;
}

.close-modal{
    position: absolute;
    font-size: 5rem;
    border: none;
    background: none;
    top: -1.5rem;
    right: 1rem;
    text-decoration: none;
    color: rgb(75, 75, 75);
}
.close-modal:hover{
    color: black;
}
.order-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgb(220, 219, 219);
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.order-card{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    padding: 1rem 1rem;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 2rem;
}
.order-img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 15px;
}
.order-detail i{
     display: block;
     font-size: 15px;
     font-weight: 900;
}
.order-detail p{
    font-size: 1.5rem;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
#overlay:target{
    opacity: 1;
    visibility: visible;

}
.hidden{
    opacity: 0;
    visibility: hidden;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(2rem);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(2rem);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(-2rem);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(-2rem);
    }

    50% {
        transform: translate(-5rem);
    }

    100% {
        transform: translate(2rem);
    }

}


/* ========================MEDIA QUERIES============================= */

@media (max-width: 75em) {

    /*landscape tablet */
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 56.25em) {

    /*potrait tablet*/
    html {
        font-size: 50%;
    }
    .heading-primary--main {
        font-size: 8rem;
    }

    .heading-primary--sub {
        font-size: 5rem;
    }
    .about__content .about__content__heading {
        margin-top: 10rem;
        font-size: 4rem;
        font-weight: 700;
        display: inline-block;
    }
    
    .about__content .about__content__text {
        font-size: 3rem;
        padding: 0 16rem;
    }/* =======/====================MENU CSS ==================================== */
    .menu {
        height: 100vh;
        margin-top: 2rem;
        margin-bottom: 15rem;
        /* position: relative; */
    }
    .menu__container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: auto auto;
    }

    .menu h2 {
        display: inline-block;
        font-size: 4rem;
    }

   
    /* ================Card======================== */

    .card {
        box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(64, 63, 63, 0.612);
        height: 35rem;
        width: 30rem;
        margin: auto;
        margin-bottom: 5rem;
    }

    .card img {
        height: 15rem;
    }

    .card-body h5 {
        font-size: 2.5rem;
    }

    .card-body p {
        font-size: 2.5rem;
    }

    .card:hover {
        transform: scale(1);
        transition: ease-in 200ms;
        outline: 0.2rem solid rgb(64, 63, 63);
        box-shadow: 0.2rem 0.2rem 2rem 1rem rgb(64, 63, 63);
    }

    .btn--color2 {
        background-color: #bb9b3d;
        border-color: #312910ec;
        font-size: 2rem;
    }

    .btn--color2:hover, .btn--color2:active {
        background-color: #4f4014;
        border-color: #161207ec;
    }

    .heading--underline {
        margin: auto;
        width: 10rem;
        border-bottom: .2rem solid rgb(64, 63, 63);
        margin-bottom: 2rem;
    }
      /* ==============================CONTACT===================================== */
      .contact {
        height: 30vh;
        background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
        background-color: rgb(164, 141, 14);
        position: relative;
    }

    .contact__row {
        margin-top: 3%;
    }
    .col-1-of-4 li a {
        text-decoration: none;
        color: rgba(40, 39, 39, 0.922);
        font-size: 2rem;
        font-weight: 100;
    }

}

@media (max-width: 37.5em) {
    /*phone */

    /* 600px to ems dedault font size is usually 16 so we do 600/16 */
    html {
        font-size: 30%;
    }

    .navbar li {
        font-size: 2.5rem;
    }

    .header {}

    .heading-primary--main {
        font-size: 8rem;
    }

    .heading-primary--sub {
        font-size: 5rem;
    }

    .button {
        padding: 4rem 8rem;
        border-radius: 6rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
    }

    /* ========================ABOUT PHONE VERSION CSS============== */
    .about__content {
        position: absolute;
        top: 12%;
        text-align: center;
        max-height: 100vh;
    }
    .about__content .about__content__heading {
        font-size: 5rem;
    }

    .about__content .about__content__text {
        font-size: 3.7rem;
        padding: 0 16rem;
    }
    .menu{
        height: 80vh;
    }

    
  

}