@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: monoton;
    src: url(../fonts/monoton/Monoton-Regular.ttf);
}
@font-face {
    font-family: jokerman;
    src: url(../fonts/Jokerman-Font/Jokerman\ Font.ttf);
}
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'sans-serif', 'lato';
    font-weight: 400;
    line-height: 1.7;
}
h2{
    font-size: 3rem;
    font-family: 'jokerman';
    color:  rgb(64, 63, 63);
}
.navbar {
    border: none;
    /* border-bottom-style: outset;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px grey; */
}

.navbar-brand {
    font-size: 2.8rem;
    font-family: 'monoton', sans-serif;
    font-weight: 600;
     background:linear-gradient(to right bottom, rgb(251, 144, 5),rgb(165, 165, 165));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.brand{
    text-align: center;
    margin: 1rem;
}
.navbrand-sub{
    margin-top: -15px;
    font-family: 'monoton';
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(to right bottom, rgba(251, 144, 5, 0.652),rgba(165, 165, 165, 0.841));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#navbarNav ul {
    float: right;
    font-size: 1.6rem;
}

.navbar li {
    padding: 0.8rem;
    background:linear-gradient(to right bottom, rgb(251, 144, 5),rgb(102, 102, 102));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.navbar li:hover, .navbar li:active {
    background:linear-gradient(to right bottom, rgb(88, 50, 0),rgb(53, 53, 53));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* ================================HEADER ======================================= */
.header {
    height: 100vh;
    background-image: linear-gradient(to left top, rgba(251, 144, 5, 0.624),rgba(43, 35, 113, 0.823));
    background-size: cover;
    background-position: top;
    position: relative;
}
.index{
    z-index: -1;
}
header::after{
    animation: fade 2s;
}
.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.heading-primary {
    color: rgb(255, 230, 0);
    animation: forwards;
    margin-bottom: 6rem;
   
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'jokerman';
    font-weight: 900;
    letter-spacing: 0.8rem;
    animation: moveInLeft 2s;
}

.heading-primary--sub {
    display: block;
    font-family: 'sans-serif';
    font-weight: 700;
    letter-spacing: 0.2rem;
    animation: moveInRight 2s;
}

.btn {
    padding: 2rem 4rem;
    border-radius: 6rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

.btn--color {
    background-color: rgb(232, 232, 232);
    color: rgb(58, 41, 8)
}

.btn--animated {
    animation: moveInUp 2s
}

.btn:hover {
    transform: translateY(-.3rem);
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.628);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
/* ========================ABOUT CSS============== */
.about {
    position: relative;
}
.about__content {
    text-align: center;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgb(164, 141, 14);
    height: 90vh;
}

.about__content .about__content__heading {
    margin-top: 15rem;
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
}

.about__content .about__content__text {
    font-size: 2.5rem;
    padding: 0 16rem;
}
/* =======/====================GALLERY CSS ==================================== */
.gallery {
    height: 100vh;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 15rem;
}
.gallery h2 {
    display: inline-block;
    font-size: 3.5rem;
}
.heading--underline {
    margin: auto;
    width: 8rem;
    border-bottom: 2px solid rgb(64, 63, 63);
    margin-bottom: 10rem;
}

/* .heading--underline:hover{
    animation: wiggle 1s;
    animation-iteration-count: infinite;
} */

.img-row {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

.img-row__food img {
    padding: 2.5rem;
    width: 30%;
    float: left;
    border-radius: 3rem;
    /* outline-offset: 0.5rem; */
}

.img-row::after {
    content: "";
    display: table;
    clear: both;
}

.img-row__food img:hover {
    transform: scale(1);
    transition: ease-in 200ms;
    outline: 0.5rem solid rgb(64, 63, 63);;
    border-radius: 3rem;
    box-shadow: 2px 2px 20px 10px rgb(64, 63, 63);;
}

/* ==============================CONTACT===================================== */
.contact {
    height: 60vh;
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: rgb(164, 141, 14);
}
.row {
    max-width: 114rem;
    margin: 5% auto;
    float: left;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row .col-1-of-4 {
    /* width: calc((100% - 3 * 1rem)/4); */
    width: 28rem;
}

.row .col-1-of-4 h5 {
    font-size: 2rem;
    font-weight: 500;
    color:  rgb(56, 56, 56);
}

.col-1-of-4 li {
    list-style: none;
    margin-bottom: 1.7rem;
    margin-left: -2rem;

}
.col-1-of-4 li a {
    text-decoration: none;
    color:  rgba(64, 63, 63, 0.857);
    font-size: 1.4rem;
    font-weight: 100;
}
.col-1-of-4 li a:hover {
    color:  rgb(28, 27, 27);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
}
.contact__social{
    margin-top: 20px;
}

.social li {
    float: left;
    padding-left: 50px;
}
.social li::after{
    content: "";
    display: table;
    clear: both;
}
.social li:first-child {
    padding-left: 0px;
}
.fade--effect{
    animation: fade 1.5s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(2rem);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(2rem);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(-20px);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(-2rem);
    }

    50% {
        transform: translate(-5rem);
    }

    100% {
        transform: translate(2rem);
    }

}