@font-face {
  font-family: lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: monoton;
  src: url(../fonts/monoton/Monoton-Regular.ttf);
}

@font-face {
  font-family: jokerman;
  src: url(../fonts/Jokerman-Font/Jokerman-Font.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1rem=10px 10px/16px*100 =62.5% */
}

body {
  font-family: 'sans-serif', 'lato';
  font-weight: 400;
  line-height: 1.7;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(2rem);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(2rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(-2rem);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(-2rem);
  }

  50% {
    transform: translate(-5rem);
  }

  100% {
    transform: translate(2rem);
  }
}

/* ================================HEADER ======================================= */
.header {
  height: 100vh;
  background-image: linear-gradient(to left top, rgba(251, 144, 5, 0.624), rgba(43, 35, 113, 0.823));
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

.heading-primary {
  color: #ffe600;
  animation: forwards;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'jokerman';
  font-weight: 900;
  letter-spacing: 0.8rem;
  animation: moveInLeft 2s;
}

.heading-primary--sub {
  display: block;
  font-family: 'sans-serif';
  font-weight: 700;
  letter-spacing: 0.2rem;
  animation: moveInRight 2s;
}

.heading--underline {
  margin: auto;
  width: 8rem;
  border-bottom: 0.2rem solid #403f3f;
  margin-bottom: 2rem;
}

.index {
  z-index: -1;
}

/* ========================ABOUT CSS============== */
.about {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
  background-color: #a48d0e;
}

.about__content {
  position: absolute;
  top: 15%;
  text-align: center;
}

.about__content__heading {
  margin-top: 10rem;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
}

.about__content__text {
  font-size: 2rem;
  padding: 0 16rem;
}

/* =======/====================MENU CSS ==================================== */
.menu {
  text-align: center;
  margin-bottom: 15rem;
  /* position: relative; */
}

.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu h2 {
  display: inline-block;
  font-size: 3.5rem;
}

.menu_row {
  margin-bottom: 2rem;
}

/* ================Card======================== */
.card {
  height: 30rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(64, 63, 63, 0.612);
  width: 23rem;
  margin-bottom: 2rem;
}

.card-img {
  height: 18rem;
}

.card-body h5 {
  font-size: 1.5rem;
}

.card-body p {
  font-size: 1.3rem;
}

.card:hover {
  transform: scale(1);
  transition: ease-in 200ms;
  outline: 0.2rem solid #403f3f;
  box-shadow: 0.2rem 0.2rem 2rem 1rem #403f3f;
}

.card-body,
.list-group-item {
  text-align: start;
}

/* ==============================CONTACT===================================== */
.contact {
  height: 250px;
  padding-top: 30px;
  background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
  background-color: #a48d0e; 
}

.contact__row {
  /* margin: auto; */
}

.col-1-of-4 {
  /* width: calc((100% - 3 * 1rem)/4); */
  width: 28rem;
}

.col-1-of-4 h5 {
  font-size: 2rem;
  font-weight: 500;
  color: #383838;
}

.col-1-of-4 li {
  list-style: none;
  margin-bottom: 1.7rem;
  margin-left: -2rem;
}

.col-1-of-4 li a {
  text-decoration: none;
  color: rgba(64, 63, 63, 0.857);
  font-size: 1.4rem;
  font-weight: 100;
}

.col-1-of-4 li a:hover, .col-1-of-4 li a:active, .col-1-of-4 li a:focus{
  color: #1c1b1b;
}

.fab{
  font-size: 4rem;
}
/* Add a hover effect if you want */
.fab:hover {
  opacity: 0.7;
}

.contact__social {
  margin-top: 2rem;
}

.social li {
  float: left;
  padding-left: 5rem;
}

.social li::after {
  content: "";
  display: table;
  clear: both;
}

.social li:first-child {
  padding-left: 0px;
}

.fade--effect {
  animation: fade 1.5s;
}

.cart-btn {
  position: fixed;
  bottom: 6.5rem;
  right: 6.5rem;
  z-index: 5;
  border: 1px solid gray;
  background-color: gray;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1rem 1rem 0.1rem rgba(0, 0, 0, 0.293);
}

.cart-index {
  text-decoration: none;
}

.cart-btn:hover {
  box-shadow: 0 1rem 1rem 0.1rem rgba(0, 0, 0, 0.718);
}

.cart-icon {
  height: 6rem;
  width: 6rem;
}

.cart-title {
  font-size: 2rem;
  text-align: center;
}

.close-modal {
  position: absolute;
  font-size: 5rem;
  border: none;
  background: none;
  top: -1.5rem;
  right: 1rem;
  text-decoration: none;
  color: #4b4b4b;
}

.close-modal:hover {
  color: black;
}

.gen-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #dcdbdb;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  max-height: 50%;
  overflow-y: scroll;
}

.order-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 1rem 2rem;
  gap: .5rem;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.order-img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border: 1.5rem;
}

.order-detail i {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
}

.order-detail p {
  font-size: 1.5rem;
}

.checkout {
  position: static;
  float: right;
}

.delivery-card {
  display: grid;
  grid-template-columns: auto;
}

.delivery-card input {
  height: 3rem;
  border-style: groove;
  border-radius: .5rem;
  border-color: gray;
}

.delivery-card #address {
  height: 5rem;
}

.payment {
  position: fixed;
  width: 12rem;
  bottom: -5rem;
  right: 2rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.692);
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(0.3rem);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#overlay:target {
  opacity: 1;
  visibility: visible;
}

.button {
  padding: 2rem 4rem;
  border-radius: 6rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}

.button:hover {
  transform: translateY(-0.3rem);
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.628);
  color: black;
}

.button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn--color {
  background-color: #e8e8e8;
  color: #3a2908;
}

.btn--animated {
  animation: moveInUp 2s;
}

.btn--color2 {
  background-color: #bb9b3d;
  border-color: #312910ec;
}

.btn--color2:hover {
  background-color: #4f4014;
  border-color: #161207ec;
}

.btn--color2:active {
  background-color: #29210b;
  border-color: #020201ec;
}

.navbar-brand {
  font-size: 2.8rem;
  font-family: 'monoton', sans-serif;
  font-weight: 600;
  background: linear-gradient(to right bottom, #fb9005, #666666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.brand {
  text-align: center;
  margin: 1rem;
}

.navbrand-sub {
  margin-top: -1.5rem;
  font-family: 'monoton';
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(to right bottom, rgba(251, 144, 5, 0.652), rgba(165, 165, 165, 0.841));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.offcanvas-body ul {
  font-size: 1.6rem;
}

.navbar li {
  padding: 0.8rem;
  background: linear-gradient(to right bottom, #fb9005, #666666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar li:hover,
.navbar li:active {
  background: linear-gradient(to right bottom, #583200, #353535);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* ==========================ROW GRID MANAGEMENT ======================================== */
.row {
  max-width: 114rem;
  margin: auto;
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* ===============Carousel==================== */
.carousel-item img {
  height: 100vh;
  width: 100vw;
}

h2 {
  font-size: 3rem;
  font-family: 'jokerman';
  color: #403f3f;
}

.hidden {
  display: none;
}
