.navbar-brand {
    font-size: 2.8rem;
    font-family: 'monoton', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right bottom, $nav-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.brand {
    text-align: center;
    margin: 1rem;
}


.navbrand-sub {
    margin-top: -1.5rem;
    font-family: 'monoton';
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(to right bottom, $nav-sub);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#navbarNav ul {
    float: right;
    font-size: 1.6rem;
}

.navbar li {
    padding: 0.8rem;
    background: linear-gradient(to right bottom, rgb(251, 144, 5), rgb(102, 102, 102));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.navbar li:hover,
.navbar li:active {
    background: linear-gradient(to right bottom, rgb(88, 50, 0), rgb(53, 53, 53));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* ==========================ROW GRID MANAGEMENT ======================================== */
.row {
    max-width: 114rem;
    margin: auto;
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}



/* ===============Carousel==================== */
.carousel-item img {
    height: 100vh;
    width: 100vw;

}
